body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  padding-left: 0;
}

ul li {
  list-style-type: none;
}

.btn {
  padding: 18px 30px;
  text-transform: uppercase;
  background-color: #D7B399;
  text-decoration: none;
  color: #fff;
}

.btn__xs {
  padding: 6px 30px;
}

.btn__catalog {
  font-size: 16px;
  line-height: 20px;
  padding: 18px 35px;
}

.btn__catalog img {
  padding-left: 10px;
}

.page__light {
  background-color: #F9F6F1;
}

.page__dark {
  background-color: #212121;
}

.page__white {
  background-color: #fff;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 147px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 40%;
}

.nav__item {
  margin-right: 15px;
  padding: 10px 10px 10px 0px;
  list-style-type: none;
}

.nav__link {
  font-size: 14px;
  color: #212121;
  text-decoration: none;
}

.cart {
  padding-left: 44px;
  width: 30px;
  height: 30px;
  background-image: url(../img/icons/basket.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
}

.cart__count {
  display: block;
  padding: 10px 24px;
  background-image: url(../img/icons/pointer.svg);
  background-position: 0 center;
  background-repeat: no-repeat;
  color: #F9F6F1;
  font-size: 12px;
  font-weight: 700;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 123px;
}

.main__item {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 50%;
}

.sale__title {
  margin: 0;
  margin-bottom: 28px;
  font-size: 30px;
  font-weight: 300;
}

.sale__description {
  margin: 0;
  padding-bottom: 60px;
  font-size: 55px;
  font-weight: 700;
  text-transform: uppercase;
}

.price {
  position: relative;
}

.price__old {
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 24px;
  font-weight: 700;
}

.price__new {
  margin: 0;
  position: absolute;
  right: 15px;
  top: 49px;
  font-size: 42px;
  font-weight: 700;
  color: #D84033;
}

.price__img {
  margin-top: -30px;
}

.notice {
  padding: 46px 0;
  color: #fff;
  text-align: center;
}

.notice__title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
}

.notice__title span {
  font-weight: 300;
}

.notice__description {
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  line-height: 26px;
}

.collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.collection__item {
  padding: 60px 0px 68px 20px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 50%;
  background-repeat: no-repeat;
  background-position: calc(100% - 50px) bottom;
}

.collection__man {
  background-image: url("../img/man-col.png");
}

.collection__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}

.collection__description {
  margin-bottom: 35px;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.collection__woman {
  background-image: url("../img/woman-col.png");
  background-position: calc(100% - 50px) bottom;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 150px 0px 150px 0px;
}

.catalog__heading {
  margin: 0;
  margin: 0px 0px 83px 0px;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  margin-left: -7px;
  margin-right: -7px;
  margin-bottom: 77px;
}

.catalog__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.333%;
          flex: 0 0 23.333%;
  position: relative;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 50px;
  text-align: center;
  margin-right: 14px;
}

.catalog__item:nth-child(4n) {
  margin-right: 0;
}

.catalog__item:before, .catalog__item::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 25px;
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog__item:before {
  background-image: url("../img/icons/corner-top.svg");
}

.catalog__item:after {
  background-image: url("../img/icons/corner-botton.svg");
}

.catalog__title {
  margin: 0;
  margin: 50px 0px 5px 0px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.catalog__price {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #D7B399;
}

.footer {
  color: #fff;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 82px 0px 69px 0px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item {
  margin-left: 72px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  max-width: 150px;
}

.links__title,
.categories__title,
.useful__title,
.social__title {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.links__list,
.categories__list,
.useful__list,
.social__list {
  margin: 0;
}

.link__item,
.categories__link-item,
.useful__link-item,
.social__item {
  margin-bottom: 10px;
}

.link__item a,
.categories__link-item a,
.useful__link-item a,
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #CBCFD4;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}

.social__link img {
  margin-right: 10px;
}
/*# sourceMappingURL=style.css.map */