$accent: #D7B399;
$dark: #212121;
$light: #F9F6F1;
$gray: #CBCFD4;
$light-gray:#F4F4F4;
$dark-gray: #8D8D8D;
$important: #D84033;

body {
  font-family: 'Montserrat', sans-serif;
}
ul {
  padding-left: 0;
}
.page-light {
  background-color: $light;
}
.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 40%;
  }
  &__item {
    margin-right: 15px;
    padding: 10px 10px 10px 10px;
    list-style-type: none;
  }
  &__link {
    font-size: 14px;
    color: $dark;
    text-decoration: none;
  }
}

.cart {
  padding-left: 44px;
  width: 30px;
  height: 30px;
  background-image: url(../img/icons/basket.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
  &__count {
    display: block;
    padding: 10px 24px;
    background-image: url(../img/icons/pointer.svg);
    background-position: 0 center;
    background-repeat: no-repeat;
    color: $light;
    font-size: 12px;
    font-weight: 700;
  }
}
