$accent: #D7B399;
$dark: #212121;
$light: #F9F6F1;
$gray: #CBCFD4;
$light-gray:#F4F4F4;
$dark-gray: #8D8D8D;
$important: #D84033;
$white: #fff;

body {
  font-family: 'Montserrat', sans-serif;
}

ul {
  padding-left: 0;
  li {
    list-style-type: none;
  }
}

.btn {
  padding: 18px 30px;
  text-transform: uppercase;
  background-color: $accent;
  text-decoration: none;
  color:$white;

  &__xs {
    padding: 6px 30px;
  }

  &__catalog {
    font-size: 16px;
    line-height: 20px;
    padding: 18px 35px;

    & img {
      padding-left: 10px;
    }
  }
}

.page {
  &__light {
    background-color: $light;
  }

  &__dark {
    background-color: $dark;
  }

  &__white {
    background-color: $white;
  }
}


.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 147px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    max-width: 40%;
  }

  &__item {
    margin-right: 15px;
    padding: 10px 10px 10px 0px;
    list-style-type: none;
  }

  &__link {
    font-size: 14px;
    color: $dark;
    text-decoration: none;
  }
}

.cart {
  padding-left: 44px;
  width: 30px;
  height: 30px;
  background-image: url(../img/icons/basket.svg);
  background-repeat: no-repeat;
  background-position: 0 center;

  &__count {
    display: block;
    padding: 10px 24px;
    background-image: url(../img/icons/pointer.svg);
    background-position: 0 center;
    background-repeat: no-repeat;
    color: $light;
    font-size: 12px;
    font-weight: 700;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 123px;

  &__item {
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 50%;
  }
}

.sale {
  &__title {
    margin: 0;
    margin-bottom: 28px;
    font-size: 30px;
    font-weight: 300;
  }

  &__description {
    margin: 0;
    padding-bottom: 60px;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.price {
  position: relative;

  &__old {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 24px;
    font-weight: 700;
  }

  &__new {
    margin: 0;
    position: absolute;
    right: 15px;
    top: 49px;
    font-size: 42px;
    font-weight: 700;
    color: $important;
  }

  &__img {
    margin-top: -30px;
  }
}

.notice {
  padding: 46px 0;
  color: $white;
  text-align: center;

  &__title {
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
  }

    
  &__title span {
    font-weight: 300;
  }

  &__description {
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 26px;
  }
}

.collection {
  display: flex;
  justify-content: space-between;

  &__item {
    padding: 60px 0px 68px 20px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 50%;
    background-repeat: no-repeat;
    background-position: calc(100% - 50px) bottom;
  }

  &__man {
    background-image: url('../img/man-col.png');
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    
  }

  &__description {
    margin-bottom: 35px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
  }

  &__woman {
    background-image: url('../img/woman-col.png');
    background-position: calc(100% - 50px) bottom;
  }
}

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 150px 0px 150px 0px;

  &__heading {
    margin: 0;
    margin: 0px 0px 83px 0px;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    width: 100%;
    margin-left: -7px;
    margin-right: -7px;
    margin-bottom: 124px;
  }

  &__item {
    flex: 0 0 23.333%;
    position: relative;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 50px;
    text-align: center;
    margin-right: 14px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:before, &::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 25px;
      content: ''; 
      background-size: cover;
      background-repeat: no-repeat;
    }

    &:before {
      background-image: url('../img/icons/corner-top.svg');
    }

    &:after {
      background-image: url('../img/icons/corner-botton.svg');
    }
  }

  &__title {
    margin: 0;
    margin: 50px 0px 5px 0px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
  }

  &__price {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: $accent;
  }
}

.footer {

  // .footer__wrapper

  &__wrapper {
    display: flex;
    justify-content: space-between;
    color: $white;
  }

  // .footer__img

  &__img {
  }

  // .footer__list

  &__list {
    display: flex;
  }

  // .footer__item

  &__item {
    margin-right: 30px;
    
  }
}
.links {

  // .links__title

  &__title {
  }

  // .links__list

  &__list {
  }
}
.link {

  // .link__item

  &__item {
    & a {
      color: $white;
    }
  }
  
}
.categories {

  // .categories__title

  &__title {
  }

  // .categories__list

  &__list {
  }
}
.useful {

  // .useful__links

  &__links {
  }

  // .useful__title

  &__title {
  }

  // .useful__list

  &__list {
  }

  // .useful__link-item

  &__link-item {
  }
}
.social {

  // .social__title

  &__title {
  }

  // .social__list

  &__list {
  }

  // .social__item

  &__item {
  }

  // .social__link

  &__link {
  }

  // .social__link--vkontakte

  &__link--vkontakte {
  }

  // .social__link--facebook

  &__link--facebook {
  }

  // .social__link--instagram

  &__link--instagram {
  }
}
